<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>shopping.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<display-name>logout</display-name>
  	<description></description>
  	<servlet-class>shopping.servlet.logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<display-name>AddToCartServlet</display-name>
  	<description></description>
  	<servlet-class>shopping.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuantityServlet</servlet-name>
  	<display-name>QuantityServlet</display-name>
  	<description></description>
  	<servlet-class>shopping.servlet.QuantityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveFromCartServlet</servlet-name>
  	<display-name>RemoveFromCartServlet</display-name>
  	<description></description>
  	<servlet-class>shopping.servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderNowServlet</servlet-name>
  	<display-name>OrderNowServlet</display-name>
  	<description></description>
  	<servlet-class>shopping.servlet.OrderNowServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<display-name>CheckoutServlet</display-name>
  	<description></description>
  	<servlet-class>shopping.servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelOrderServlet</servlet-name>
  	<display-name>CancelOrderServlet</display-name>
  	<description></description>
  	<servlet-class>shopping.servlet.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>shopping.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuantityServlet</servlet-name>
  	<url-pattern>/QuantityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveFromCartServlet</servlet-name>
  	<url-pattern>/RemoveFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderNowServlet</servlet-name>
  	<url-pattern>/OrderNowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelOrderServlet</servlet-name>
  	<url-pattern>/CancelOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>
